MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.cii53av.mongodb.net/cognifyz_internship?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_jwt_secret_key_here
REACT_APP_API_URL=/api
